@import "tailwindcss";

@font-face {
    font-family: "pricedown";
    src: url("./pricedown.otf") ;
}


html,body, #root {
  
  width: 100%;
  font-family: 'pricedown', sans-serif;
    
}


.img-obj-svg{
  object-fit: cover;
  object-position: center;
}