@import "tailwindcss";

@font-face {
    font-family: "pricedown";
    src: url("./pricedown.otf");
}

body{
    overflow: hidden;
}

.scrolldown {

  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-style: normal;


}

html,
body,
#root {

    width: 100%;
    font-family: 'pricedown', sans-serif;

}


.img-obj-svg {
    object-fit: cover;
    object-position: center;
}