@import "tailwindcss";

@font-face {
    font-family: "pricedown";
    src: url("./pricedown.otf");
}

.scrolldown {
    
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;


}

html,
body,
#root {

    width: 100%;
    font-family: 'pricedown', sans-serif;

}


.img-obj-svg {
    object-fit: cover;
    object-position: center;
}